<%if @ideas.any? %>
  <ul class="collection">
    <% @ideas.each do |idea|%>
      <li class='collection-item'>
        <p><%= link_to idea.name, idea_path(idea) %></p>
        <p><%= idea.description %></p>
        <%= idea.likes_number %>
        <i class = "tiny mdi-action-thumb-up"></i><%= link_to 'like', new_like_path({"idea_id" =>"#{idea.id}"}) %>
        <i class = "tiny mdi-action-thumb-down"></i><%= link_to 'dislike', dislike_path({"idea_id" =>"#{idea.id}"}) %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>No ideas yet</p>

<% end %>
<% if user_signed_in? %>
  <a href="/ideas/new" class="waves-effect waves-light btn">Add an idea</a>
<% end %>
